



body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{ margin: 0; padding: 0;}
table{ border-collapse: collapse; border-spacing: 0;}
fieldset, img{ border: 0;}
address, caption, cite, code, dfn, var{ font-style: normal; font-weight: normal;}
ol, ul{ list-style: none;}
caption, th{ text-align: left;}

q: before, q: after{ content: '';}
abbr, acronym{ border: 0;}

html {
  background-color: #66d1e7;
    font-family: 'Jura', sans-serif;
  font-weight: 400;
}

h1 {
  
  margin: 20px 0px 20px 0px;
  display: inline-block;

}

#logo {
  height: 40px;
  margin-top: 10px;
}

#container {
   position: relative;
  /* width : 600px; */
  /* height: 80px; */
   background-color: white;
   border: 2px solid black;
}

.shape {
    position: absolute;
   /* width : 120px; */
    height: 40px;
    background-color: #F2507E;
    border: 1px dashed black;

}

.noTwo {
	position: absolute;
	top: 40px;
}

.vidTwo {

  opacity: 1 !important;
  z-index: -1;
}

youtube { 

  position: absolute;
  top: 76px;
  left: 600px;

}



#results{ background: #f2f5fd; background: #f5f5f5; height: 360px; overflow-x: hidden; width: 600px; position: absolute; left: 0px; top: 106px;}
.video{ cursor: pointer; min-height: 90px; padding: 10px; padding-left: 140px; position: relative;}
.video:nth-child(2n-1){ background: white;}
.video-image{ float: left; left: 10px; position: absolute; top: 10px;}
.video-title{ padding-top: 5px;}
.video-author{ color: #df1f1f; font-size: 14px; padding: 5px 0;}
.video-description{ color: #727785; font-size: 12px; line-height: 1.5;}
.video:hover{ background: #22242a; color: white;}

#query{ border: none; color: #000000; background-float: left; height: 30px; padding-left: 10px; line-height: 30px;  width: 590px;}
#query:focus{ outline: none;}
#submit{ position: absolute; right: 0px; top: 0px;}
#search{ float: left; height: 40px; position: relative; width: 600px;}

button {

  width: 100px;
  height: 40px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 0px;
  background-color: RGBA(98, 100, 98, 0.4);
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

button:focus, #submit:focus {
  outline: 0;

}

button:hover, #submit:hover {
  background-color: RGBA(98, 100, 98, 0.6);

}

#submit {

  width: 100px;
  height: 30px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 0px;
  background-color: RGBA(98, 100, 98, 0.4);
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 14px;

}

#query {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.bigButton {
  margin: 20px 0px 20px 501px;
  width: 100px;
  height: 40px;

}
