
	
		<div style="text-align: center; background-color: #F9D731">
			<img id="logo" src="logo.png">
			<h1>Vidmix</h1>
	   </div>

	<div style="text-align: left">
	   
	   <form id="search" data-ng-submit="search()">
	        <input id="query" name="q" type="text" placeholder="Search for a YouTube video" data-ng-model="query"/>
	        <input id="submit" text="search" type="submit" value="Submit"/>
	   </form>

		<div id="results">
		      <div class="video" data-ng-repeat="video in results" data-ng-click="pushToIDArray(video.id, video.title)">
		        <img class="video-image" data-ng-src="{{ video.thumbnail }}">
		        <p class="video-title">{{ video.title }}</p>
		        <p class="video-author">{{ video.author }}</p>
		        <p class="video-description">{{ video.description }}</p>
		      </div>
		    </div>

		</div>

	<div>
		 
		 <youtube data-ng-repeat="video in vidDB" style="opacity: {{ video.opacity }}" index="{{ $index }}" width="640" height="390" videoid="{{ video.vidId }}" control="youtubeControl"> </youtube>
 		<!-- youtube width="640" height="390" videoid="A3ckIovZRwk" control="youtubeControl" class='vidTwo'> </youtube -->

		<br/>


		

	</div>


	<div style="top: 466px; position: absolute">

		<div class="vid_wrap">
		
     	<br/>
     	<br/>
     	<br/>
     	<br/>
     	<br/>

		<div id="container" style="height: {{ vidDB.length * 40 + 2}}px; width: {{ maxTotalWidth }}px;">

		        <ng-vid-unit ng-repeat="clip in vidDB" class="shape noOne" ng-draggable='dragOptions' style="top: {{ clip.clipHeightOffset }}px; width: {{ clip.vidLength }}px"><p>{{clip.clipHeightOffset}}</p></ng-vid-unit>
		        <!--ng-vid-unit class="shape noTwo" ng-draggable='dragOptions'></ng-vid-unit-->
		    
		</div>

		<br/>

		<button ng-click="RunVidmixTest()">Vidmix Test</button>
		<p>clip height offset for vid 2 (obj 1): {{ vidDB[1].clipHeightOffset }}</p>
		<p>max total width {{ maxTotalWidth }}</p>
		<p>Id Array: {{ idArray }}</p>
		<p>VidDb length: {{ vidDB_length }} </p>
		<p>VidDB: {{ vidDB }}</p>
			<div id="footnote"></div>

		   <!-- youtube width="640" height="390" videoid="{{ idArray[0] }}" control="youtubeControl"></youtube -->


		<br/>
	</div>




